{% extends '../main.html' %}

{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
  
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>

<script type="text/javascript" class="init">
  $(document).ready(function() {
      $('#data').DataTable({
          responsive: true,
          autoWidth: false
      });
});  
</script>
{% endblock %}

  {% block content %}
  <div class="contenido">
    <h1 class="logo"><b>CONSULTAR PERSONAS</b></h1><br><br>
    <div class="mainAgregar">
      <a href="{% url 'RegistrarPersona' %}" class="btn btn-info"> <b><i class="fas fa-plus-square"></i>  Agregar Persona</b></a>
    </div>
                
          <!--CONSULTAS TABLA-->
          <div id="mostrar_tabla">
            
            <table id="data" class="table table-striped table-bordered dt-responsive nowrap" style="margin: 0 auto; width:50%">
              
              <thead>
                   <tr>
                        <th scope="col" style="width: 60%;">Dui</th>
                        <th scope="col" style="width: 60%;">Nombre</th>
                        <th scope="col" style="width: 50%;">Apellido</th>
                        <th scope="col" style="width: 10%;">Sexo</th>
                        <th scope="col" style="width: 10%;">Edad</th>
                        <th scope="col" style="width: 10%;">Municipio</th>
                        <th scope="col" style="width: 10%;">Departamento</th>
                        <th scope="col" style="width: 20%;">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                  {% if object_list %}
                    {% for persona in object_list %}
                    <tr>
                        <td>{{persona.dui}}</td>
                        <td>{{persona.nombre}}</td>
                        <td>{{persona.apellido}}</td>
                        <td>{{persona.sexo}}</td>
                        <td>{{persona.edad}}</td>
                        <td>{{persona.id_municipio.nombre_municipio}}</td>
                        <td>{{persona.id_municipio.id_departamento.nombre_departamento}}</td>
                        <td>
                            <a
                              href="{% url 'ModificarPersona' persona.dui %}" class="btn btn-warning"> <b><i class="fas fa-edit"></i></b>
                            </a>
                        
                            <a
                              href="{% url 'EliminarPersona' persona.dui %}" class="btn btn-danger" > <b><i class="fas fa-trash-alt"></i></b>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
            {% else %}
            <div class="alert alert-warning"><strong><i class="fas fa-exclamation-triangle"></i> No hay personas ingresadas en el sistema</strong></div>
            {% endif %}
                </tbody>
            </table>
        </div>
</div>

{% endblock content %}

