{% extends '../main.html' %}

{% block head %}

{% endblock %}

{% block content %} 
<div class="content">
    <h1 class="logo"><b>ELIMINAR PERSONA</b></h1><br><br>
    <div class="contact-wrapper">
        <div class="contact-form">
            <form method="post">
                {% csrf_token %}
                <h3>¿Desea eliminar esta persona y todos sus registros de vacunación del sistema?</h3>
                <p>
                        Dui: {{object.dui}}
                </p>
                <p>
                        Nombre: {{object.nombre}}
                </p>
                <p>
                        Apellido: {{object.apellido}}
                </p>
                <p>
                        Sexo: {{object.sexo}}
                </p>
                <p>
                        Edad: {{object.edad}}
                </p>
                <p>
                        Municipio: {{object.id_municipio.nombre_municipio}}
                </p>
                <p>
                        Departamento: {{object.id_municipio.id_departamento.nombre_departamento}}
                </p>
                {% if messages %}
                <div>
                    <ul class="messages">
                        <div class="alert alert-danger">
                            {% for message in messages %}
                            <i class="fas fa-exclamation">  {{ message }}</i>
                            {% endfor %}
                        </div>
                    </ul>  
                </div>  
                {% endif %}
                <div class="block">
                    <button class = "btn btn-primary" type="submit">Eliminar</button> 
                    <button type="button"><a href="{% url 'ConsultarPersona' %}" >Cancelar</a></button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
{% endblock %}