<div id="mostrar_tabla">
    <table id="data" class="table table-striped table-bordered dt-responsive nowrap" style="margin: 0 auto; width:50%">
        <thead>
            <tr>
                <th scope="col" style="width: 60%;">Municipio</th>
                <th scope="col" style="width: 60%;">Primer Dosis</th>
                <th scope="col" style="width: 50%;">Segunda Dosis</th>
                <th scope="col" style="width: 10%;">Total Dosis</th>
            </tr>
        </thead>
        <tbody id="tableMun">
            
                </tbody>
            </table>
        </div>
</div>