{% extends 'main.html' %}

{% load static %}
{% block head %}
<link rel="stylesheet" href={% static 'css/home.css' %}>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="logo"><p><b>ESTADISTICAS COVID-19 EN EL SALVADOR</b></p></h1>
    <br><br>
  </div>

<div class="contenido">
    <div class="element">
    <h2>Primera Dosis</h2>
  <h3>{{ primer_dosis }}</h3>
</div>
<div class="element">
  <h2>Segunda Dosis</h2>
  <h3>{{ segunda_dosis }}</h3>
  </div>
  <div class="element">
  <h2>Total Dosis Aplicadas</h2>
  <h3>{{ total_dosis }}</h3></div>
</div>
<br>
<br>

{% include 'graficos/porSexo.html' %}
<br><br><br><br>
{% include 'graficos/porDepartamento.html' %}
<br><br><br><br>
<style>
    h4{
        color: rgb(65, 64, 64);
    }
</style>
    <div class="element">
    <h4><b>CANTIDAD DE PERSONAS VACUNADAS EN CADA MUNICIPIO</b></h4>
</div>
<br>
{% include 'graficos/infoMunicipios.html' %}


{% endblock%}
{% block scripts %}
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>


<script type="text/javascript" class="init">
$(document).ready(function() {
    $('#data').DataTable({
        responsive: true,
        autoWidth: false
    });
} );

</script>

<script src={% static 'lib/highcharts/highcharts.js' %}></script>
<script src={% static 'lib/highcharts/modules/exporting.js' %}></script>
<script src={% static 'lib/highcharts/modules/export-data.js' %}></script>
<script src={% static 'lib/highcharts/modules/accessibility.js' %}></script>
<!--<script src={% static 'lib/highcharts/modules/series-label.js' %}></script>-->
<script src={% static 'lib/highcharts/modules/data.js' %}></script>
<script src={% static 'lib/highcharts/modules/drilldown.js' %}></script>





<script type="application/javascript">
  Highcharts.chart('container', {
      chart: {
          type: 'column'
      },
      title: {
          text: 'Personas Vacunadas'
      },
      subtitle: {
          text: 'Por Departamento'
      },
      xAxis: {
          categories: [
              'Ahuachapan',
              'Santa Ana',
              'Sonsonate',
              'Chalatenango',
              'La Libertad',
              'San Salvador',
              'Cuscatlan',
              'La Paz',
              'Cabañas',
              'San Vicente',
              'Usulutan',
              'San Miguel',
              'Morazan',
              'La Union'
          ],
          crosshair: true
      },
      yAxis: {
          min: 0,
          title: {
              text: 'Cantidad Personas'
          }
      },
      tooltip: {
          headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
          pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
              '<td style="padding:0"><b>{point.y:1f} Personas</b></td></tr>',
          footerFormat: '</table>',
          shared: true,
          useHTML: true
      },
      plotOptions: {
          column: {
              pointPadding: 0.2,
              borderWidth: 0
          }
      },
      series: [{
          name: 'Departamentos',
          showInLegend: false,
          colorByPoint: true,
          data: {{ graf_vacunados|safe }}
  
      },]
  });
  </script>

<script type="application/javascript">
Highcharts.chart('container2', {
    chart: {
        type: 'pie'
    },
    title: {
        text: 'Porcentaje de personas Vacunadas'
    },
    subtitle: {
        text: 'Mujeres y Hombres'
    },

    accessibility: {
        announceNewData: {
            enabled: true
        },
        point: {
            valueSuffix: '%'
        }
    },

    plotOptions: {
        series: {
            dataLabels: {
                enabled: true,
                format: '{point.name}: {point.y:.1f}%'
            }
        }
    },

    tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> Del total vacunados<br/>'
    },

    series: [
        {
            name: "Sexo",
            colorByPoint: true,
            data: [
                {
                    name: "Mujeres",
                    y: {{ contador_Mujeres|safe }},
                    //drilldown: "Chrome"
                },
                {
                    name: "Hombres",
                    y: {{ contador_Hombres|safe }},
                    //drilldown: "Firefox"
                },
            ]
        }
    ],
});
</script>
<div id="mostrar_tabla">


    <table id="data" class="table table-striped table-bordered dt-responsive nowrap" style="margin: 0 auto; width:50%">
        
<script>
    var municipio = {{municipio1|safe}};

    console.log(municipio) 
    buildTable(municipio);
    function buildTable(data){
        var table = document.getElementById("tableMun");

        for (var i = 0;i<data.length;i++){
            var row=`<tr>
                        <td>${data[i].mun}</td>
                        <td>${data[i].primDosis}</td>
                        <td>${data[i].segDosis}</td>
                        <td>${data[i].primDosis + data[i].segDosis}</td>
                    </tr>
            `;
            table.innerHTML += row;
        }
    };

</script>
        </tbody>
    </table>
    
  </div>
{% endblock %}